.detail-top {
    color: var(--color-white);
    position: sticky;
    top: 0;
    background-color: var(--color-dark);
}

.detail-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
