{% extends 'base.html' %}

{% block content %}

<div class="container">
  <!-- Form -->
  <form action="{% url 'pairApp:update'  review.pk%}">

    <!-- Edit-top -->
    <div class="new-top m-5">
      <a href="{% url 'pairApp:index' %}"><i class="fa-solid fa-chevron-left fa-2x"></i></a>
      <h2 class="text-white">글 수정</h2>
      <button type="submit" class='btn btn-light'>저장</button>
    </div>
    
    <!-- Edit-bottom -->
    <div class="new-bottom">
      <div class="new-wrap p-4 rounded-5">
        <div class="mb-3 new-input">
          <input type="text" class="form-control" id="exampleFormControlInput1" name="title" value="{{ review.title }}" 
          style="
          border: none; 
          color: var(--color-white);
          background: transparent; 
          ">
        </div>
        <div class="mb-3">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="content" style="background: transparent; border: none; color: var(--color-white);">{{ review.content }}</textarea>
        </div>
      </div>
    </div>

  </form>
</div>


{% endblock %}