{% extends 'base.html' %}

{% block content %}

<!-- <form action="{% url 'pairApp:update' review.pk %}">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">제목</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" value="{{ review.title }}" name="title">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">내용</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content">{{ review.content }}</textarea>
      </div>
    <button class='btn btn-primary w-100' type="submit">리뷰 수정</button>
</form> -->
<div class="container">
    <form action="{% url 'pairApp:update'  review.pk%}">
        <div class="new-top m-5">
          <a href="{% url 'pairApp:index' %}"><i class="fa-solid fa-chevron-left fa-2x"></i></a>
          <h2 class="text-white">글 수정</h2>
          <button type="submit" class='btn btn-light'>저장</button>
        </div>
      
        <div class="new-bottom">
          <div class="new-wrap p-4 rounded-5">
            <div class="mb-3 new-input">
              <input type="text" class="form-control" id="exampleFormControlInput1" name="title" value="{{ review.title }}" 
              style="
              background: transparent; 
              border: none; 
              color: var(--color-white);
              ">
            </div>
            <div class="mb-3">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="content" style="background: transparent; border: none; color: var(--color-white);">{{ review.content }}</textarea>
            </div>
          </div>
        </div>
      </form>
</div>


{% endblock %}