{% extends 'base.html' %}


  {% block content %}

  <!-- Nav -->
  <nav class="nav">
    <div class="container nav__wrap">
      <h1 class="nav__title">커뮤니티</h1>
    </div>
  </nav>

  <!-- Container -->
  <div class="container">
    <div class="index-wrap mt-5">
      
      <!-- Menu -->
      <div class="menu">
        {% for review in reviews %}
        <a href="{% url 'pairApp:detail' review.pk %}">
          <div class="menu__item rounded-4 p-3 mb-3">
            <h3 class="menu__title">
              {{ review.title }}
              <span class="menu__date">{{ review.created_at | date:'m월 d일' }}</span>
            </h3>
            <p class="menu__content">{{ review.content }}</p>
          </div>
        </a>
        {% endfor %}
      </div>  
      
      <!-- Write-btn -->
      <a href="{% url 'pairApp:new' %}" style="color: var(--color-white);">
        <div class="write btn btn-primary">
          <span>글 작성하기</span>
          <i class="fa-solid fa-pen"></i>
        </div>
      </a>
      
    </div>
  </div>

<!-- 
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">리뷰 번호</th>
      <th scope="col">리뷰 제목</th>
      <th scope="col">작성 시간</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    <tr>
      <td>{{ review.id }}</td>
      <td><a href="{% url 'pairApp:detail' review.pk %}">{{ review.title }}</a></td>
      <td>{{ review.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
-->

{% endblock content %}